.airport-holder {
    @include container-spacing;
    .airport-inner-holder {
        @include centeredholder;
    }
    .airport-header {
        text-align: center;
        position: relative;
        margin-bottom: 8rem;
        img {
            width: 80px;
        }
        h1 {
            font-size: 42px;
            color: $primary-copy;
            margin: 0 0 1rem;
        }
        span {
            @include text-shadow-span;
        }
    }
    .airport-header:after {
        @include header-after-line;
    }
    .airport-copy {
        @include copy-main-style;
        z-index: 1;
        .airport-highlight {
            color: $highlight;
        }
    }
    .carousel-holder {
        float: right;
        width: 50%;
        box-sizing: border-box;
        margin-left: 3rem;
        position: relative;
        .arrow-holder {
            width: 445px;
            position: absolute;
            top: 40%;
            z-index: 2;
            .carousel-arrow-left {
                width: 18px;
                float: left;
            }
            .carousel-arrow-right {
                width: 18px;
                float: right;
            }
        }
    }
    .airport-carousel {
        width: 370px;
        box-shadow: $boxshadow;
        margin-left: 2rem;
        margin-bottom: 4rem;

        .carousel-img {
            height: 370px;
            object-fit: contain;
            background-size: cover;
            margin: 0;
        }

        figcaption {
            padding: 5%;
            font-size: 14px;
            color: $primary-copy;
            span {
                display: block;
            }
        }
    }
}


@media only screen and (max-width: 860px) {
    .airport-holder {
        .airport-header {
            span {
              font-size: 20vw;
              top: -40%;
            }
        }
        .carousel-holder {
            .arrow-holder {
                width: 47vw;
                .carousel-arrow-left {
                    width: 14px;
                    float: left;
                }
                .carousel-arrow-right {
                    width: 14px;
                    float: right;
                }
            }
        }
        .airport-carousel {
            width: 35vw;
            figcaption {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width:480px) {
    .airport-holder {
        .airport-header {
            span {
              top: 15%;
            }

            img {
              width: 70px;
            }
        }
        .airport-carousel {
            width: 50vw;
        }
        .carousel-holder {
            float: none;
            margin-left: 0;
            .arrow-holder {
                width: 70vw;
            }
        }
    }
}
