.cab-holder {
    @include container-spacing;
    .cab-inner-holder {
        @include centeredholder;
    }
    p {
        @include copy-main-style;
    }
    .cab-header {
        text-align: center;
        position: relative;
        margin-bottom: 8rem;
        img {
            width: 50px;
        }
        h1 {
            font-size: 42px;
            color: $primary-copy;
            margin: 0 0 1rem;
        }
        span {
            @include text-shadow-span;
            // left: 28%;
        }
    }
    .cab-header:after {
        @include header-after-line;
    }
    .cab-copy {
        @include copy-main-style;
        margin-bottom: 3rem;
    }
    .cab-howtocopy {
        h1 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 0;
        }
        #cab-howto1 {
            margin-bottom: 0;
        }
        #cab-tip {
            margin-top: 0;
        }
    }
}
@media only screen and (max-width: 600px) {
    .cab-holder {
        .cab-header {
            margin-bottom: 5rem;
            span {
                font-size: 20vw;
                top: -15%;
            }
        }
        .cab-header::after {
            left: 45%;
        }
    }
}
@media only screen and (max-width:480px) {
    .cab-holder {
        margin-top: 5rem;
        .cab-header {
            span {
                top: 10%;
            }
            img {
                width: 40px;
            }
        }
    }
}
