.cab-holder {
    @include centeredholder;
    color: $primary-copy;
    padding-bottom: 5rem;
    border-bottom: $bottom-border;

    p {
      @include copy-main-style;
    }

  .cab-copy {
    margin-bottom: 3rem;
  }

  .cab-howtocopy {

    h1 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 0;
    }

    #cab-howto1 {
      margin-bottom: 0;
    }

    #cab-tip {
      margin-top: 0;
    }
  }
}
