.category-container {
    padding-bottom: 10rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
    border-bottom: $bottom-border;
    .category-header {
        font-size: 26px;
        color: $primary-copy;
        text-align: center;
        margin-bottom: 4rem;
    }
    .category-list {
        @include centeredholder;
        list-style-type: none;
        padding-left: 0;
        box-sizing: border-box;
        display: flex;

        a {
          flex-basis: 21%;
          box-shadow: 0 0 10px 0 #F4F4F4;
          position: relative;
          padding: 3rem 2rem 2rem;
          border-radius: 5px;
        }
        a:not(:last-child) {
          margin-right: 1.5rem;
        }

        li {
            text-align: center;
            #plane-icon {
                width: 110%;
                padding-right: 2rem;
            }
            #subway-icon {
                width: 60%;
            }
            img {
                width: 70%;
            }
            div {
                position: absolute;
                width: 70%;
                border-radius: 20px;
                padding: 3% 5%;
                background: $highlight;
                bottom: -1rem;
                left: 10%;
                p {
                    text-align: center;
                    margin: 0;
                    color: $white;
                    font-size: 14px;
                }
            }
        }
    }
}
@media only screen and (max-width: 975px) {
    .category-container {
        .category-list {
            width: 90%;
        }
    }
}
@media only screen and (max-width: 635px) {
    .category-container {
        .category-header {
            font-size: 26px;
        }
        .category-list {
            width: 95%;
            li {
                padding: 2rem 1rem 1rem;
            }
        }
    }
}
@media only screen and (max-width: 525px) {
    .category-container {
        // padding-bottom: 8rem;
        margin-bottom: 8rem;
        margin-top: 5rem;
        .category-header {
            font-size: 22px;
            margin-bottom: 2rem;
        }
        .category-list {
            li {
                padding: 2rem 1rem 1rem;
                div {
                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .category-container {
        .category-list {
            li {
                padding: 1rem 1rem 0.5rem;
                div {
                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
  .category-container {
    padding-bottom: 5rem;
    margin-top: 3rem;
    .category-header {
        font-size: 18px;
    }
    .category-list {
      li {
        padding: 0.5rem 0.5rem 0.3rem;

      #plane-icon {
        padding-right: 0;
        }

        div {
          display: none;
        }
      }
    }
  }
}
