.category-container {
    margin-bottom: 5rem;
    margin-top: 5rem;
    border-bottom: $light-gray;

    .category-header {
        font-size: 26px;
        color: $header-gray;
        text-align: center;
        margin-bottom: 3rem;
    }

    .category-list {
        list-style-type: none;
        padding-left: 0;
        width: 75%;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;

        li {
            flex-basis: 25%;
            margin-right: 1rem;
            position: relative;
            text-align: center;
            padding: 2rem;
            border: 2px solid $white;
            border-radius: 5px;
            box-shadow: 1px 1px 10px #F1F1F1;

            img {
                width: 60%;
            }

            div {
                position: absolute;
                width: 80%;
                border-radius: 20px;
                padding: 3%;
                background: $highlight;
                bottom: -1rem;
                left: 8%;

                p {
                    text-align: center;
                    margin: 0;
                    color: $white;
                    font-size: 14px;
                }
            }
        }
    }
}
