.hero-container {
    background: url('../assets/bg-nyc.png') center center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position-y: -5rem;
    // overflow: hidden;
    height: 760px;

    .hero-logo {
      width: 112px;
      margin-top: 3rem;
      margin-left: 15.5rem;
    }

    .hero-content {
        @include centeredholder;
        margin-top: 12rem;
        padding-left: 5rem;

        .hero-header {
            font-size: 72px;
            color: $white;
            line-height: 70px;
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .hero-copy {
            font-size: 18px;
            color: $white;
            line-height: 26px;
            margin: 0;
            width: 75%;
        }
    }
}
