.nav-container {
  color: $primary-copy;
  font-size: 14px;
  border-bottom: 2px solid #F8F8F8;

  .nav-list {
    width: 62%;
    text-align: center;
    list-style-type: none;
    padding-left: 5rem;


    .nav-arrow {
      width: 6px;
    }

    li {
      display: inline-block;
      margin-right: 1rem;

      a {
        text-decoration: none;
        color: $primary-copy;
      }

      a:focus::after {
        border-bottom: 2px solid $highlight;
      }
    }
  }
}
