.nav-container {
  color: #4A4A4A;
  font-size: 14px;
  border-bottom: 2px solid #F8F8F8;
  // width: 70%;
  // margin: 0 auto;

  .nav-list {
    list-style-type: none;

    .nav-arrow {
      width: 6px;
    }

    li {
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
