.nav-container {
  color: $primary-copy;
  font-size: 14px;
  border-bottom: $bottom-border;

  .nav-list {
    list-style-type: none;
    margin-left: 15%;


    .nav-arrow {
      width: 6px;
    }

    li {
      display: inline-block;
      margin-right: 1rem;

      a {
        text-decoration: none;
        color: $primary-copy;
        position: relative;
      }

      a::after {
        content: '';
        display: block;
        height: 0.2rem;
        width: 100%;
        background: $highlight;
        position: absolute;
        bottom: -0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .nav-container {

    .nav-list {
      margin-left: 5%;
    }
  }
}

@media only screen and (max-width: 635px) {
  .nav-container {
    font-size: 12px;
  }

  .nav-list {
    padding-left: 0;
  }
}

//for mobile device screen sizes, I might implement icons rather than text because making the font any smaller lacks readability, but ideally I'd keep the nav on "one line" rather than having it take up more space vertically.
