.subway-holder {
    @include centeredholder;
    padding-bottom: 5rem;
    border-bottom: 2px solid $light-gray;


    .subway-header {

    }
    p {
      @include copy-main-style;
    }
    .subway-copy {
        box-sizing: border-box;
        margin-bottom: 5rem;
        
        .subway-map-holder {
            width: 410px;
            float: right;
            box-shadow: $boxshadow;
            margin-top: 0;
            margin-left: 5rem;
            figcaption {
                padding: 4%;
            }
            p {
                margin: 0;
            }
            img {
                width: 100%;
            }
        }
    }
    .subway-howtocopy {
        h1 {
            text-align: center;
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 0;
        }
        #subway-intro-center {
            text-align: center;
            margin-bottom: 5rem;
        }
        .subway-flexholder {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            justify-content: space-between;
            .subway-flexcopy {
                flex-basis: 45%;
            }
        }
    }
}
