//PRIMARY FONTS
body {
  font-family: helvetica;
}

//PRIMARY COLORS
$black: #000;
$white: #fff;
$header-gray: #4A4A4A;
//darker gray

$highlight: #1CBEEC;
//blue accent

$light-gray: #F8F8F8;
//for border

$shadow: #FBFBFB;
//for text shadows

$boxshadow: #F1F1F1;

//MIXINS
